.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.fr {
  &Form {
    h1 {
      margin: 10px 0;
    }

    width: 100%;
    margin-top: 50px;

    &TextInput {
      margin: 10px 0 !important;
    }

    // &Switch {
    // }

    &Date {
      @media only screen and (min-width: 1240px) {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 20px;

        div {
          flex: 1;
        }
      }
    }

    // &Select {
    // }

    &Reminders {
      div {
        display: flex;
        gap: 20px;

        div {
          display: block;
        }
      }
    }
  }
}
